[submodule "external-libs/wallaroo"]
	path = external-libs/wallaroo
	url = http://git.code.sf.net/p/wallaroolib/code
[submodule "external-libs/lufa"]
	path = external-libs/lufa
	url = https://github.com/abcminiuser/lufa.git
[submodule "external-libs/minijson_writer"]
	path = external-libs/minijson_writer
	url = https://github.com/giacomodrago/minijson_writer.git
[submodule "external-libs/minijson_reader"]
	path = external-libs/minijson_reader
	url = https://github.com/giacomodrago/minijson_reader.git
[submodule "external-libs/backward-cpp"]
	path = external-libs/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
